@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1 {
    color: #282828;
}

body {
    min-height: 100vh;
}

header {
    font-size: 16px;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.4rem;
    font-size: 1.3rem;
    border: none;
    background: white;
}

form input {
    border: 1px solid #282828;
    outline: none;
}

form button {
    cursor: pointer;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 40%;
    list-style: none;
}

.todo {
    margin: 0.4rem;
    padding: 10px;
    border: 1px solid #282828;
    color: #282828;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
}

.todo li {
    flex: 1;
}

.remove-btn,
.completed-btn {
    background-color: #cc241d;
    border: none;
    padding: 0.4rem;
    color: white;
    cursor: pointer;
}

.completed-btn {
    background-color: #b8bb26;
}

.todo-item {
    padding: 0 0.3rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed-task {
    text-decoration: line-through;
    color: #525252;
    opacity: 0.65;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background-color: #cc241d;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}